<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Repetition</title>
</head>
<body>
<p th:text="${repetition.getDate() }">VALUE</p>
<p th:text="${'Challenge: ' + repetition.getChallenge_id()}">VALUE</p>
<p th:text="${'Count: ' + repetition.getCount()}">VALUE</p>
<p th:text="${repetition.getId()}">VALUE</p>
<a th:href="@{/repetitions/{id}/edit(id=${repetition.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/repetitions/{id}(id=${repetition.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>