<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update button</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/buttons/{id}(id=${button.getId()})}" th:object="${button}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
  <br/>
  <label for="challenge_id">Enter challenge_id: </label>
  <input type="text" th:field="*{challenge_id}" id="challenge_id"/>
  <div style="color:red" th:if="${#fields.hasErrors('challenge_id')}" th:errors="*{challenge_id}">Error</div>
  <br/>
  <label for="num">Enter num: </label>
  <input type="text" th:field="*{num}" id="num"/>
  <div style="color:red" th:if="${#fields.hasErrors('num')}" th:errors="*{num}">Error</div>
  <br/>
  <input type="submit" value="Update!"/>
</form>
</body>
</html>